* {
    margin: 0;
    padding: 0;
}

p {
    color: red;
    font-family: "Bebas Neue", sans-serif;
    font-size: 55px;
    text-align: center;
}
html {
  background-color: rgb(67, 67, 67);
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: black;
  padding: 0 20px 20px 20px;
  border: 5px solid red;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
